<!DOCTYPE html>
<html>
<head>
  <title>ディスリコード</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Open Graph Protocol for better link preview -->
  <meta property="og:title" content="ディスリコード" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://disricord.onrender.com/" />
  <meta property="og:image" content="https://disricord.onrender.com/itazura240.jpg" />
  <meta property="og:description" content="ただひたすらディスられるだけのアプリ！！" />
  <meta property="og:site_name" content="ディスリコード" />

  <!-- Twitter Card (X) -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@kawara20230719" />
  <meta name="twitter:title" content="ディスリコード" />
  <meta name="twitter:description" content="ただひたすらディスられるだけのアプリ！！" />
  <meta name="twitter:image" content="https://disricord.onrender.com/itazura240.jpg" />

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <%= yield %>
</body>
</html>
